.git
.gitignore
.dockerignore
node_modules
.next
npm-debug.log
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local
Dockerfile
docker-compose.yml
.vscode
.idea
*.zip
*.tar.gz
