@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 90% 94%;
    --foreground: 222 84% 5%;
    --card: 207 90% 98%;
    --card-foreground: 222 84% 5%;
    --popover: 207 90% 98%;
    --popover-foreground: 222 84% 5%;
    --primary: 221 88% 61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 90% 88%;
    --secondary-foreground: 222 84% 5%;
    --muted: 207 90% 88%;
    --muted-foreground: 222 84% 25%;
    --accent: 36 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 90% 80%;
    --input: 207 90% 80%;
    --ring: 221 88% 61%;
    --chart-1: 142 71% 45%;
    --chart-2: 0 84% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 88% 61%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 36 100% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 221 88% 71%;
    --chart-1: 142 71% 45%;
    --chart-2: 0 72% 51%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
